body,
html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 12px;
}
/*底部边框为1px*/
/*最后一个底部没有边框*/
.border-none:after {
  display: none !important;
}
/*内部盒子*/
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*不换行*/
.no-wrap {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix {
  display: inline-block;
}
.clearfix:after {
  display: block;
  content: '.';
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
/*文字垂直居中*/
.dis-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1500471385506');
  /* IE9*/
  src: url('../fonts/iconfont.eot?t=1500471385506#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff?t=1500471385506') format('woff'), /* chrome, firefox */ url('../fonts/iconfont.ttf?t=1500471385506') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg?t=1500471385506#iconfont') format('svg');
  /* iOS 4.1- */
}
.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiantouicon:before {
  content: "\e626";
}
.icon-radio:before {
  content: "\e61b";
}
.icon-boy:before {
  content: "\e66e";
}
.icon-order:before {
  content: "\e663";
}
.icon-guanbi:before {
  content: "\e614";
}
.icon-find:before {
  content: "\e627";
}
.icon-calendar:before {
  content: "\e679";
}
.icon-girl:before {
  content: "\e678";
}
.icon-caidan:before {
  content: "\e662";
}
.icon-shoppingcart2:before {
  content: "\e61c";
}
.icon-setup:before {
  content: "\e61a";
}
.icon-message1:before {
  content: "\e60e";
}
.icon-index:before {
  content: "\e60d";
}
.icon-my:before {
  content: "\e601";
}
.icon-xue:before {
  content: "\e60f";
}
.icon-iconcanteen01:before {
  content: "\e631";
}
.icon-snacks:before {
  content: "\e630";
}
.icon-icon-yxj-express:before {
  content: "\e667";
}
.icon-fankui:before {
  content: "\e637";
}
.icon-ranking:before {
  content: "\e67b";
}
.icon-iconcompleted:before {
  content: "\e660";
}
.icon-other:before {
  content: "\e628";
}
.icon-yinxiang:before {
  content: "\e63f";
}
.icon-daijinquan:before {
  content: "\e642";
}
.icon-suspend:before {
  content: "\e751";
}
.icon-nav:before {
  content: "\e606";
}
.icon-start:before {
  content: "\e62a";
}
.icon-sousuo_sousuo:before {
  content: "\e59c";
}
.icon-upload-demo:before {
  content: "\e693";
}
